*{
    margin-top: 0;
    padding: 0;
}

#headers{
    background-color: rgb(255, 255, 255);
    color: black; 
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(0, 255, 255, 100);
}

.lindel{
    /*display: inline-table;*/
    background-color: rgb(218, 198, 238);
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 10px;
    position: center;
    margin-top: 30px;
    margin-left: 15%;
}
.lindel:hover{
    background-color: rgb(173, 119, 228);
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 10px;
    position: center;
    margin-top: 30px;
    margin-left: 15%;
    .drop_down1{
        display:inline-flex;
        padding: 0px;
        margin: 0px;
        font-size: 20px;
        color: black;
        background-color: rgb(240, 166, 166);
    } 
}

.drop_down1{
    display: none;
}

/*.drop_down1:hover{
    display-listitem: inline;
    font-size: 15px;
    color: black;
    background-color: rgb(240, 166, 166);
}*/

