/*{
    margin-top: 0;
    padding: 0;
    background-color: black;
}

#headers{
    border-color: white;
    color: white; 
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75%;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 255);
} */

/* 
#bar{
   // display: inline-table;
    background-color: rgb(64, 64, 64);
    color: rgb(255, 255, 255);
    font-size: 90%;
    padding: 1%;
    position: center;
    margin-top: 30px;
    margin-left: 13%;
}
.lindel:hover{
    //position: static;
    margin-right: 2%;
    .drop_down1{
        display:inline-block;
        padding: 0px;
        margin-top:50px;
        font-size: 70%;
        color: rgb(255, 255, 255);
        background-color: rgb(64, 64, 64);
    } 
}

.drop_down1{
    display: none;
} */



/*.drop_down1:hover{
    display-listitem: inline;
    font-size: 15px;
    color: black;
    background-color: rgb(240, 166, 166);
}*/

